version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: sda_mysql
    restart: always
    env_file:
      - .env

    volumes:
      - mysql_data:/var/lib/mysql
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"


volumes:
  mysql_data:

